.ui-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 1;
    transform: translate(0, 0) scale(1);
    transition: all 0.2s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.hide {
        display: none;
    }

    &.slide-left {
        transform: translateX(100vw);

        &.slide-up {
            transform: translate(100vw, 100vh);

            &.zoom {
                transform: translate(100vw, 100vh) scale(0);
            }
        }

        &.zoom {
            transform: translateX(100vw) scale(0);
        }
    }

    &.slide-up {
        transform: translateY(100vh);

        &.zoom {
            transform: translateY(100vh) scale(0);
        }
    }

    &.zoom {
        transform: translate(0, 0) scale(0);
    }

    &.fade {
        opacity: 0;
    }

    .modal-content {
        z-index: 100000;
        background: white;
        height: 500px;
        width: 500px;
        overflow: scroll;
    }
}

.ui-modal-open {
    position: fixed;
    height: 100%;
}